
body{
    background-color: rgb(89, 255, 200);
    font-family: 'Alkatra', cursive;
}
h1{
    color: darkmagenta;
    text-align: center;
}

main,#scoreboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: darkorchid;
    text-align: center;
}
#scoreboard{
    color: rgb(141, 0, 75);
}

h2{
    width: 100%;
    margin: 10px;
    text-align: center;
}
h3{
    margin: 5px;
    font-size: 24px;
}
main > div{
    width: 30%;
}
main img{
    width: 100%;
}
#scoreboard div{
    border:firebrick 5px solid;
    border-radius: 14px;
}
p{
    font-size: 24px;
    text-align: center;
    margin: 0;
}

#gameLog{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tie{
    color: rgb(189, 160, 0);
}
.win{
    color: green;
}
.lose{
    color: red;
}